/* notification-box.component.css */
.notification-box {
  position: fixed;
  /* bottom: 10px; */
  margin-top: 20%;
  /* margin-right: 20px; */
  right: 0;
  /* left: 0; */
  /* margin-left: 50px; */
  margin-right: 50px;
  width: 50%;
  background: linear-gradient(135deg, #06131d, #0b2438);
  backdrop-filter: blur(9px);
  /* border: 1px solid #999; */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  padding: 16px;
  z-index: 90000;
  animation: fadeIn 0.6s ease-out;
  bottom:  0;
  margin-bottom: 10em;
  justify-item: center;
}

.notification-box h4 {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.notification-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-box li {
  font-size: 14px;
  padding: 6px 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  color: #a4a0a0;
  text-align: left;
  animation: fadeIn 0.6s ease-out;


}

.notification-box li:last-child {
  border-bottom: none;
}

@keyframes fadeIn {
from { opacity: 0; transform: translateY(10px); }
to { opacity: 1; transform: translateY(0); }
}
