::ng-deep .mat-mdc-dialog-surface {
  background-color: #06131d !important; // or any color you want
}

.delete{
  color: var(--bs-danger) !important;
}

.mdc-dialog__title {
  color: #fff;
  text-transform: capitalize;
}
