.swiper-slide {
  /* width: auto; */
  /* display: inline-flex; */
  align-items: center;
  /* justify-content: center;
  padding: 10px 20px; */
  background: rgb(64 21 110);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* margin-right: 10px; */
  white-space: nowrap;
}
