.image-wrapper {
  display: flex;
  }
.slide-text{
   /* margin-top: 40px;
  position: absolute;  */
  float: right;
  left: 4em;
  font-size: 18px;
  color: yellow;
  font-weight: 900;
}

/* .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 50px;
} */

.carousel {
    position: relative;
    /* bottom: 30px; */
}
.carousel-item {
  width: 100%;
  height: auto; /* set your desired short height */
  /* background: rgb(22 13 35 / 80%);  */
  /* optional for contrast */
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.carousel-item img {
  transform: scaleY(0.9); /* shrink vertically */
  /* transform: scaleX(1); /* shrink vertically */ */
  transform-origin: top;
}
