/* match */
.match-card {
  background: transparent;
  /* rgba(255,255,255,0.05); */
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 16px;
  color: white;
  font-family: inherit;
  border: 1px solid #272727;
}


.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 13px;
  color: #f0f0f0;
}


.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

img {
  width: 38px important;
  height: 38px;
  border-radius: 40%;
  object-fit: cover;
  margin-bottom: 6px;
}


.name {
  font-size: 14px;
  text-align: center;
}


.vs {
  font-weight: 700;
  font-size: 18px;
  opacity: 0.8;
}
