/* Match container */
.match-box {
  background: #07141d;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Header */
.x-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* League */
.league {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.9;
  width: 50%;
}

/* Time */
.time {
  font-size: 12px ;
  opacity: 0.6;
  min-width: 80px;
  text-align: right;
}

/* Teams row */
.center-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Team block */
.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Logo container (VERTICAL) */
.logo.left,
.logo.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  flex: 1;
}

/* Team logo */
.team img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  display: block;
}

/* Team name */
span.name {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  padding: 4px 0;
  /* border-bottom: 1px solid #272727; */
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
