<app-header2></app-header2>
<app-betslip *ngIf="matchService.isSlipVisible"></app-betslip>
<app-spinner></app-spinner>


<div class="wrapper">
  <div class="space-top ">
    <div *ngIf="fixture; else expiredFixture" class="top_matches__cmncard p2-bg p-4 rounded-3 mb-4 container-fluid">
      <div
        *ngIf="fixture.fixture.fixture.timestamp | countdown | async as time; else expiredFixture"
        class="row gx-0 gy-xl-0 gy-7">
        <div class="col-xl-5 col-xxl-4">
            <div class="top_matches__clubname">
                <div class="top_matches__cmncard-right d-flex align-items-start justify-content-between pb-4 mb-4 gap-4 ">
                    <div class="d-flex align-items-center gap-1 w-50">
                        <img src="assets/images/icon/floorball.png" alt="Icon">
                        <span class="fs-eight cpoint">{{fixture?.fixture.league.country}} . {{fixture?.fixture.league.name}}</span>
                    </div>
                    <div class="d-flex align-items-center gap-4 pe-xl-15 flex-nowrap flex-xl-wrap">
                        <span class="fs-eight cpoint">Today,
                            {{fixture?.fixture.fixture.timestamp|timeFormat:"time"}}
                          </span>
                        <div class="d-flex align-items-center gap-1">
                          <i class="ti ti-clock text-primary"></i>
                            <!-- <img src="assets/images/icon/updwon.png" alt="Icon">
                            <img src="assets/images/icon/t-shart.png" alt="Icon"> -->
                        </div>
                    </div>
                </div>
                <div class="top_matches__cmncard-left d-flex align-items-center justify-content-between pe-xl-10">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <img class="logo avatar--sm" src="{{fixture?.fixture.teams.home.logo}}" alt="Icon"> <span class="fs-seven cpoint">{{fixture?.fixture.teams.home.name}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <img class="logo avatar--sm" src="{{fixture?.fixture.teams.away.logo}}" alt="Icon"> <span class="fs-seven cpoint">{{fixture?.fixture.teams.away.name}}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-4 position-relative pe-xl-15">
                        <span class="v-line lg d-none d-xl-block"></span>
                        <div class="d-flex flex-column gap-5">
                          <img class="home-t-shirt" src="assets/images/icon/t-shart.png" alt="Icon">
                          <img class="away-t-shirt" src="assets/images/icon/t-shart.png" alt="Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-xxl-8 gap-4">
            <div class="top_matches__clubdata mt-12">
                <!-- <h3>Anti Score</h3> -->
            </div>

            <div class="m-table mt-12">
              <div class="anti-label d-flex">
                <span>Home</span>
                <span>Draw</span>
                <span>Away</span>
              </div>
              <div *ngFor="let row of predictionRows" class="m-table-row m-outcome snipcss-lEH2o">
                <div
                  (click)="matchService.showBetSlip(fixture,{odds:odd.odds,value:odd.value});activeRow=odd.value;activeID=fixture.fixtureID"
                  *ngFor="let odd of row" class="m-table-cell m-table-cell--responsive style-FBHIN"
                  [class.active]='activeRow===odd.value&&activeID===fixtureID' id="style-FBHIN"
                  [class.content-disabled]="!odd.value||odd.value==='-'||excludeScores.includes(odd.value)"
                  >
                  <div *ngIf="odd.value&&odd.value!=='-'&&!excludeScores.includes(odd.value)">
                    <span class="m-table-cell-item">{{odd.value}}</span>
                    <span class="m-table-cell-item">{{odd.odds|number:'1.2-2'}}</span>
                  </div>

                </div>
                <!-- <div class="m-table-cell m-table-cell--responsive style-sPFnR" id="style-sPFnR"><span class="m-table-cell-item">3:2</span><span class="m-table-cell-item">33.98</span> </div>
                <div class="m-table-cell m-table-cell--responsive style-A4NwN" id="style-A4NwN"><span class="m-table-cell-item">4:2</span><span class="m-table-cell-item">97.50</span> </div> -->
              </div>
            </div>
        </div>
      </div>
    </div>

    <ng-template #expiredFixture class="empty-state">
      <div class="no-data text-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/595/595067.png"
          width="60"
          alt="no data"
        />
        <p>Game already live / ended.</p>
      </div>
    </ng-template>
  </div>
</div>
